<div class="container w-50">
  <div class="card mt-4">
    <div class="login-form mx-4 my-4">
      <form [formGroup]="registerForm" (ngSubmit)="register()">
        <h2 class="text-center text-primary">Sign Up</h2>
        <hr>
      
        <!--Username-->
        <div class="form-group">
      
          <input type="text" class="form-control"
                 [ngClass]="{'is-invalid': registerForm.get('username').errors
                 && registerForm.get('username').touched}"
                 formControlName="username" placeholder="Username">
          <div class="invalid-feedback">Please insert a username</div>
        </div>
      
        <!--Fullname-->
        <div class="form-group">
      
          <input type="text" class="form-control"
                 [ngClass]="{'is-invalid': registerForm.get('fullName').errors
                 && registerForm.get('fullName').touched}"
                 formControlName="fullName" placeholder="fullName">
          <div class="invalid-feedback">Please insert the full name</div>
        </div>
      
        <!--Email-->
        <div class="form-group">
      
          <input type="text" class="form-control"
                 [ngClass]="{'is-invalid': registerForm.get('email').errors
                 && registerForm.get('email').touched}"
                 formControlName="email" placeholder="Email">
          <div class="invalid-feedback">Please insert an email</div>
        </div>
      
        <!-- Date of birth -->
        <div class="form-group">
          <input [ngClass]="{'is-invalid': registerForm.get('dateOfBirth').errors
                 && registerForm.get('dateOfBirth').touched}"
                 class="form-control"
                 placeholder="Date of Birth"
                 formControlName="dateOfBirth"
                 type="text"
                 bsDatepicker
                 [bsConfig]="bsConfig">
          <div class="invalid-feedback" *ngIf="registerForm.get('dateOfBirth').touched && registerForm.get('dateOfBirth').hasError('required')">Date of Birth is required</div>
        </div>
      
        <!--Gender-->
        <div class="form-group">
          <label class="control-label" style="margin-right:10px">Gender: </label>
          <label class="radio-inline">
            <input class="mr-3" type="radio" value="male" formControlName="gender">Male
          </label>
          <label class="radio-inline ml-3">
            <input class="mr-3" type="radio" value="female" formControlName="gender">Female
          </label>
        </div>
      
        <!--Role-->
        <div class="form-group">
          <label class="control-label" style="margin-right:10px">User Role: </label>
          <select 
              name="role" 
              id="role" 
              class="form-control custom-select"
              formControlName="role"
              >
              <option value="User" >User</option>
              <option  value="Admin">Admin</option>
          </select>
        </div>
      
        <!--Password-->
        <div class="form-group">
          <input type="password" class="form-control"
                 [ngClass]="{'is-invalid': registerForm.get('password').errors
                 && registerForm.get('password').touched}"
                 formControlName="password" placeholder="Password">
         
          <div class="invalid-feedback"
               *ngIf="registerForm.get('password').hasError('required')
               && registerForm.get('password').touched">
            Password is required
          </div>
          <div class="invalid-feedback"
               *ngIf="registerForm.get('password').hasError('minlength')
               && registerForm.get('password').touched">
            Password must be at least 4 characters
          </div>
          <div class="invalid-feedback"
               *ngIf="registerForm.get('password').hasError('maxlength')
               && registerForm.get('password').touched">
            Password cannot exceed 8 characters
          </div>
        </div>
      
        <!--Confirm Password-->
        <div class="form-group">         
          <input type="password" class="form-control"
                 [ngClass]="{'is-invalid': registerForm.get('confirmPassword').errors
                 && registerForm.get('confirmPassword').touched
                 || registerForm.get('confirmPassword').touched
                 && registerForm.hasError('mismatch')}"
                 formControlName="confirmPassword" placeholder="Confirm Password" />
          <div class="invalid-feedback" *ngIf="registerForm.get('confirmPassword').hasError('required')
               && registerForm.get('confirmPassword').touched">Confirm password is required</div>
          <div class="invalid-feedback" *ngIf="registerForm.get('confirmPassword').touched
               && registerForm.hasError('mismatch')">Passwords must match</div>
        </div>      
        <div class="form-group text-center">
          <button class="btn btn-success mr-2" [disabled]="!registerForm.valid" type="submit">Register</button>          
        </div>      
      </form>
    </div>    
  </div>  
</div>


