<div class="container mt-5">
  <h4>Search and view the balance </h4>
  <!-- Search -->
  <div class="row">
    <div class="container">
      <div class="card mt-4">
        <div class="mx-4 my-4 px-4">
          <form #searchForm="ngForm" class="form-group" (ngSubmit)="searchBalance()">
            <div class="row">
              <div class="col-md-4">
                <label>Account Year</label>
                <select name="year" class="form-control" [(ngModel)]="accountModel.year" (change)="getMonthList($event.target.value)">
                  <option *ngFor="let year of yearList" [value]="year">{{year}}</option>
                </select>
              </div>
              <div class="col-md-4">
                <label class="control-label">Account Month</label>
                <select name="month" class="form-control" [(ngModel)]="accountModel.month">
                  <option *ngFor="let month of monthtList" [ngValue]="month.id">{{month.monthName}}</option>
                </select>
              </div>
              <div class="col-md-4">
                <label>Find</label>
                <button class="btn btn-success btn-s form-control" type="submit" [disabled]="!searchForm.dirty">
                  <span class="fa fa-search mr-2"></span> Search
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- View data -->
  <div class="row">
    <div class="container">
      <div class="card mt-4">
        <div class="mx-4 my-4 px-4">
          <table class="table">
            <tr>
              <th>R&D</th>
              <th>Canteen</th>
              <th>CEO's car</th>
              <th>Marketing</th>
              <th>Parking fines</th>                                        
            </tr>
            <tr *ngIf="balance">
              <td>Rs. {{ balance.rAndD|number }} /=</td>
              <td>Rs. {{ balance.canteen|number }} /=</td>
              <td>Rs. {{ balance.ceoCar|number }} /=</td>
              <td>Rs. {{ balance.marketing|number }} /=</td>
              <td>Rs. {{ balance.parkingFines|number }} /=</td>              
            </tr>
            <tr *ngIf="!balance">Record not available</tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

